@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  color: #18509b;
  font-family: 'Lora', serif;
}

button {
  font-family: 'Lora', serif;
  border-radius: 0.5rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 0.5rem;
}

li {
  padding-bottom: 0.5rem;
}

/***** Classes *****/

.header-logo {
  height: 10rem;
  width: auto;
}

.top-container {
  display: flex;
  justify-content: space-between;
  background-color: #18509b;
  color: #f1f1f1;
  padding: 0.5rem;
}

.top-left {
  padding-left: 2rem;
}

.top-right {
  padding: 3rem;
}

.timer-area {
  text-align: center;
  padding-top: 3.5rem;
}

.ride-nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #90c6fa;
  color: #f1f1f1;
  font-size: 1.2rem;
}

.ride-list-area {
  display: flex;
  justify-content: center;
}

.displayed-rides {
  text-align: left;
}

.ride-btn {
  margin-right: 1rem;
  background-color: #18509b;
  color: #f1f1f1;
}

.rules-area {
  padding: 0.5rem;
}

.scores-area {
  padding: 0.5rem;
}

/***** Stopwatch *****/

.timer-btn {
  background-color: #18509b;
  color: #f1f1f1;
  padding: 1rem;
  margin: 0.3rem;
  font-size: 1.2rem;
}

.stopwatch {
  padding: 0.5rem;
}

.stopwatch__display {
  font-size: 30px;
  padding: 0.5rem;
}

/***** Drop Down Menu *****/

/* Dropdown Button */
.dropbtn {
  background-color: #90c6fa;
  color: white;
  padding: 1rem;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  font-size: 1.2rem;
  border-radius: 0.2rem;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #18509b;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 0.2rem;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #84b7e6;
}
