@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  color: #18509b;
  font-family: 'Lora', serif;
}

button {
  font-family: 'Lora', serif;
  border-radius: 0.5rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 0.5rem;
}

li {
  padding-bottom: 0.5rem;
}

/***** Classes *****/

.header-logo {
  height: 7rem;
  width: auto;
}

.top-container {
  display: flex;
  justify-content: space-between;
  background-color: #18509b;
  color: #f1f1f1;
  padding: 0.5rem;
  width: 100%;
}

.top-right {
  margin-top: 2rem;
}

.timer-area {
  text-align: center;
  padding-top: 3.5rem;
}

.ride-nav {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  background-color: #90c6fa;
  color: #f1f1f1;
  font-size: 1.2rem;
  padding: 0.3rem;
}

.ride-btn {
  margin-right: 1rem;
  background-color: #18509b;
  color: #f1f1f1;
}

.rules-page {
  padding-top: 1rem;
}

.rules-area {
  padding: 0.8rem;
}

.scores-page {
  padding-top: 1rem;
}
.scores-area {
  padding: 1rem;
}

.ride-list-area {
  display: flex;
  padding-left: 0.5rem;
}
.displayed-rides {
  display: flex;
  flex-direction: column;
}

/***** Stopwatch *****/

.timer-btn {
  background-color: #18509b;
  color: #f1f1f1;
  padding: 1rem;
  margin: 0.3rem;
  font-size: 1.2rem;
}

.stopwatch {
  padding: 0.5rem;
}

.stopwatch__display {
  font-size: 30px;
  padding: 0.5rem;
}

/***** Drop Down Menu *****/

/* Dropdown Button */
.dropbtn {
  background-color: #90c6fa;
  color: white;
  padding: 1rem;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  font-size: 1.2rem;
  border-radius: 0.2rem;
}

.dropdown-content a {
  color: #18509b;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 0.2rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #84b7e6;
}

/***** Rules Accordion *****/

.accordion__section {
  display: flex;
  flex-direction: column;
}

.accordion {
  background-color: #eee;
  color: #18509b;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

.accordion:hover,
.active {
  background-color: #84b7e6;
}

.accordion__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: left;
}

.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

.rotate {
  transform: rotate(90deg);
}

.accordion__content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

.accordion__text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 18px;
}

/***** Media Queries *****/

@media (min-width: 600px) {
  .ride-list-area {
    display: flex;
    padding-left: 0.5rem;
    justify-content: center;
  }
}

@media (min-width: 600px) {
  .scores-area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (min-width: 600px) {
  .score-card {
    text-align: center;
    padding: 0.5rem;
  }
}
